.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 92px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 64px 0;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    padding: 40px 0;
  }

  .footer__copyright {
    line-height: 1;
  }
}
