*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}
